.square-collab {
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #6c5ce7;
  width: 33%;
  height: 33%;
  font-size: 5vw;
  color: #e84393;
  cursor: pointer;
  vertical-align: top;
}

